<a data-mdb-ripple-init class="btn btn-primary flex mb-5" href="<%= new_admin_post_path %>" role="button">
  <i class="fa-regular fa-plus"></i> New Post
</a>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Created At</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr onclick="location.href='<%= admin_post_path(post) %>';" style="cursor: pointer;">
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.created_at.strftime("%B %d, %Y") %></td>
        <td>
          <div class="form-check">
            <%= check_box_tag "show_#{post.id}", '1', post.show, disabled: true, class: 'form-check-input' %>
            <%= label_tag "show_#{post.id}", '', class: 'form-check-label' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @posts.empty? %>
  <p>No posts available.</p>
<% end %>